@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-primary: #f7f7f7;
  --background-secondary: #f5f5f5;
  --background-button-hero: #e3e2ea;

  --color-primary: #1c1270;
  --color-text-grey-hero: #636363;

  --text-black-hero: #0b0b0b;
  --text-patrocinador: #8c8c8d;

  --border-button-hero: #d8d8d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
a,
span,
small {
  font-family: "Roboto", sans-serif;
}
/* Header */

header {
  background-color: var(--background-primary);
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--border-button-hero);

  .container-header {
    width: 90%;
    margin: auto;

    a {
      text-decoration: none;

      h1 {
        font-size: 1.7rem;
        color: var(--text-black-hero);
        transition: 0.3s ease-in-out;

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}

/* Header móvil */

@media screen and (max-width: 430px) {
  header {
    .container-header {
      a {
        text-align: center;
      }
    }
  }
}

/* Header tablet */

@media screen and (min-width: 431px) and (max-width: 1366px) {
  header {
    .container-header {
      a {
        text-align: center;
      }
    }
  }
}

/* Hero */

.hero {
  background-color: var(--background-secondary);

  .container-hero {
    width: 60%;
    margin: auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .container-lanzamiento {
      width: 18%;
      margin: auto;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;

        border: 1px solid var(--border-button-hero);
        border-radius: 20px;
        padding: 0.4rem 0;
        background-color: var(--background-button-hero);
        color: var(--color-primary);
      }
    }

    h2 {
      font-size: 5rem;
      color: var(--text-black-hero);
      text-align: center;

      span {
        color: var(--color-primary);
      }
    }

    p {
      font-size: 1.5rem;
      text-align: center;
      color: var(--color-text-grey-hero);
      line-height: 1.4;
      margin-bottom: 1rem;
    }

    .container-buttons-hero {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        padding: 0.6rem 1rem;
        border-radius: 10px;
      }

      .button-comenzar {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        background: var(--color-primary);
        color: var(--background-primary);
        border: 1px solid var(--color-primary);
        transition: 0.3s ease-in-out;

        svg {
          transition: 0.3s ease-in-out;
        }

        &:hover {
          background-color: #2b2189;

          svg {
            transform: translateX(4px);
          }
        }
      }

      .button-demostracion {
        background-color: var(--background-primary);
        border: 1px solid var(--border-button-hero);
        color: var(--text-black-hero);
        padding: 0.88rem 1rem;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: #5961d9;
          color: var(--background-primary);
        }
      }
    }

    small {
      color: var(--color-text-grey-hero);
      margin-top: 2.5rem;
    }

    .container-spornsor {
      display: flex;
      gap: 1rem;

      p {
        color: var(--text-patrocinador);
      }
    }
  }
}

/* Hero móvil */

@media screen and (max-width: 430px) {
  .hero {
    .container-hero {
      width: 90%;

      .container-lanzamiento {
        width: 50%;
      }

      h2 {
        font-size: 3.3rem;
      }

      p {
        font-size: 1.3rem;
      }

      .container-buttons-hero {
        flex-direction: column;

        .button-comenzar {
          padding: 0.6rem 3rem;
          font-size: 1.3rem;
        }

        .button-demostracion {
          padding: 0.6rem 3.8rem;
          font-size: 1.3rem;
        }
      }

      .container-spornsor {
        flex-direction: column;

        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}

/* Hero tablet */

@media screen and (min-width: 431px) and (max-width: 1366px) {
  .hero {
    .container-hero {
      width: 90%;

      .container-lanzamiento {
        width: 35%;
      }

      h2 {
        font-size: 4rem;
      }
    }
  }
}
