@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-primary: #f7f7f7;
  --background-secondary: #f5f5f5;
  --background-button-hero: #e4e4eb;
  --background-svg: #ecebf2;

  --color-primary: #1c1270;
  --color-text-grey-hero: #636363;

  --text-black-hero: #0b0b0b;
  --text-patrocinador: #8c8c8d;

  --border-button-hero: #d8d8d8;
  --shadow: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
a,
span,
small {
  font-family: "Roboto", sans-serif;
}
/* Header */

header {
  background-color: var(--background-primary);
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--border-button-hero);

  .container-header {
    width: 90%;
    margin: auto;

    a {
      text-decoration: none;

      h1 {
        font-size: 1.7rem;
        color: var(--text-black-hero);
        transition: 0.3s ease-in-out;

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}

/* Header móvil */

@media screen and (max-width: 430px) {
  header {
    .container-header {
      a {
        text-align: center;
      }
    }
  }
}

/* Header tablet */

@media screen and (min-width: 431px) and (max-width: 1366px) {
  header {
    .container-header {
      a {
        text-align: center;
      }
    }
  }
}

/* Hero */

.hero {
  background-color: var(--background-primary);

  .container-hero {
    width: 60%;
    margin: auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .container-lanzamiento {
      width: 18%;
      margin: auto;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;

        border: 1px solid var(--border-button-hero);
        border-radius: 20px;
        padding: 0.4rem 0;
        background-color: var(--background-button-hero);
        color: var(--color-primary);
      }
    }

    h2 {
      font-size: 5rem;
      color: var(--text-black-hero);
      text-align: center;

      span {
        color: var(--color-primary);
      }
    }

    p {
      font-size: 1.5rem;
      text-align: center;
      color: var(--color-text-grey-hero);
      line-height: 1.4;
      margin-bottom: 1rem;
    }

    .container-buttons-hero {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        padding: 0.6rem 1rem;
        border-radius: 10px;
      }

      .button-comenzar {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        background: var(--color-primary);
        color: var(--background-primary);
        border: 1px solid var(--color-primary);
        transition: 0.3s ease-in-out;

        svg {
          transition: 0.3s ease-in-out;
        }

        &:hover {
          background-color: #2b2189;

          svg {
            transform: translateX(4px);
          }
        }
      }

      .button-demostracion {
        background-color: var(--background-primary);
        border: 1px solid var(--border-button-hero);
        color: var(--text-black-hero);
        padding: 0.88rem 1rem;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: #5961d9;
          color: var(--background-primary);
        }
      }
    }

    small {
      color: var(--color-text-grey-hero);
      margin-top: 2.5rem;
    }

    .container-spornsor {
      display: flex;
      gap: 1rem;

      p {
        color: var(--text-patrocinador);
      }
    }
  }
}

/* Hero móvil */

@media screen and (max-width: 430px) {
  .hero {
    .container-hero {
      width: 90%;

      .container-lanzamiento {
        width: 50%;
      }

      h2 {
        font-size: 3.3rem;
      }

      p {
        font-size: 1.3rem;
      }

      .container-buttons-hero {
        flex-direction: column;

        .button-comenzar {
          padding: 0.6rem 3rem;
          font-size: 1.3rem;
        }

        .button-demostracion {
          padding: 0.6rem 3.8rem;
          font-size: 1.3rem;
        }
      }

      .container-spornsor {
        flex-direction: column;

        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}

/* Hero tablet */

@media screen and (min-width: 431px) and (max-width: 1366px) {
  .hero {
    .container-hero {
      width: 90%;

      .container-lanzamiento {
        width: 35%;
      }

      h2 {
        font-size: 4rem;
      }
    }
  }
}

/* Sección 2 características */

.seccion-2 {
  background-color: var(--background-secondary);

  .container-seccion-2 {
    width: 60%;
    margin: auto;
    padding: 5rem 0;

    h3 {
      text-align: center;
      font-size: 3rem;
      color: var(--text-black-hero);

      span {
        color: var(--color-primary);
      }
    }

    .subtitle {
      text-align: center;
      color: var(--color-text-grey-hero);
      font-size: 1.2rem;
    }

    .grid-caracteristicas {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;
      padding-top: 3rem;

      .card-caracteristicas {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        background-color: #ffffff;
        padding: 3rem 1rem;
        border: 1px solid var(--border-button-hero);
        border-radius: 15px;
        box-shadow: 0 5px 15px -4px var(--shadow);

        transition: 0.3s ease-in-out;

        svg {
          width: 3rem;
          height: 3rem;
          padding: 0.6rem;
          border-radius: 10px;
          color: var(--color-primary);
          background-color: var(--background-svg);

          transition: 0.3s ease-in-out;
        }

        h4 {
          font-size: 1.2rem;
          font-weight: 600;
        }

        p {
          color: var(--color-text-grey-hero);
          line-height: 1.4;
        }

        &:hover {
          transform: translateY(-5px);

          svg {
            background-color: #d7d6e4;
          }
        }
      }
    }
  }
}

/* Sección 2 características móvil */

@media screen and (max-width: 430px) {
  .seccion-2 {
    .container-seccion-2 {
      width: 90%;

      h3 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
      }

      .grid-caracteristicas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
      }
    }
  }
}

/* Sección 2 características tablet */

@media screen and (min-width: 431px) and (max-width: 1366px) {
  .seccion-2 {
    .container-seccion-2 {
      width: 90%;

      h3 {
        font-size: 2.7rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

/* Sección 3 clientes */

.seccion-3 {
  background-color: var(--background-primary);

  .container-seccion-3 {
    width: 60%;
    margin: auto;
    padding: 5rem 0;

    h3 {
      text-align: center;
      font-size: 3rem;
      color: var(--text-black-hero);

      span {
        color: var(--color-primary);
      }
    }

    .subtitle {
      text-align: center;
      color: var(--color-text-grey-hero);
      font-size: 1.2rem;
    }

    .grid-clientes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 1rem;
      padding-top: 3rem;

      .card-clientes {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        background-color: #ffffff;
        padding: 3rem 1rem;
        border: 1px solid var(--border-button-hero);
        border-radius: 15px;
        transition: 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 5px 15px -4px var(--shadow);
        }

        .container-estrellas {
          svg {
            color: var(--color-primary);
          }
        }

        p {
          color: var(--color-text-grey-hero);
        }

        .perfil-usuario {
          display: flex;
          align-items: center;
          gap: 1rem;

          .container-img {
            img {
              width: 3.5rem;
              border-radius: 50%;
              border: 3px solid var(--color-primary);
            }
          }

          .container-datos {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;

            h4 {
              font-size: 1.1rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

/* Sección 3 usuarios móvil */

@media screen and (max-width: 430px) {
  .seccion-3 {
    .container-seccion-3 {
      width: 90%;

      h3 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
      }

      .grid-clientes {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
      }
    }
  }
}

/* Sección 3 usuarios tablet */

@media screen and (min-width: 431px) and (max-width: 1366px) {
  .seccion-3 {
    .container-seccion-3 {
      width: 90%;

      h3 {
        font-size: 2.7rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

/* Sección 4 formulario */

.seccion-4 {
  background-color: var(--background-secondary);
  .container-seccion-4 {
    width: 60%;
    margin: auto;
    padding: 5rem 0;

    h3 {
      text-align: center;
      font-size: 3rem;
      color: var(--text-black-hero);

      span {
        color: var(--color-primary);
      }
    }

    .subtitle {
      text-align: center;
      color: var(--color-text-grey-hero);
      font-size: 1.2rem;
      padding-bottom: 3rem;
    }

    form {
      display: flex;
      flex-direction: column;

      padding: 1.5rem;
      background-color: #ffffff;
      border: 1px solid var(--border-button-hero);
      border-radius: 10px;
      box-shadow: 0 5px 15px -4px var(--shadow);

      h4 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        color: var(--color-text-grey-hero);
        margin-bottom: 1rem;
      }

      .container-icono-text {
        display: flex;
        align-items: center;
        gap: 0.3rem;

        margin-bottom: 0.5rem;

        label {
          font-family: "Roboto", sans-serif;
        }
      }

      input {
        font-family: "Roboto", sans-serif;
        padding: 0.6rem 0.5rem;
        border: 1px solid var(--border-button-hero);
        border-radius: 8px;
        margin-bottom: 1rem;

        &:focus {
          outline: 3px solid var(--color-primary);
        }
      }

      textarea {
        font-family: "Roboto", sans-serif;
        padding: 0.5rem;
        border: 1px solid var(--border-button-hero);
        border-radius: 10px;
        height: 10rem;

        &:focus {
          outline: 3px solid var(--color-primary);
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        margin-top: 1rem;
        padding: 0.5rem;
        border: 0px;
        border-radius: 10px;
        background-color: var(--color-primary);
        color: #ffffff;
        font-size: 1rem;
        transition: 0.3s ease-in-out;

        svg {
          color: #ffffff;
          transition: 0.3s ease-in-out;
        }

        &:hover {
          background-color: #382f80;

          svg {
            transform: translateX(8px);
          }
        }
      }
    }
  }
}
